*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,body{
    background-color:white;
    width: 100%;
    height: 100%;
    border: 1px solid;
    overflow-x: hidden;
    
  }

  .boxsize{
    position: relative;
    min-width: 50%;
    max-width: 100%;
    min-height: 70vh;
    max-height: 100vh;
    border: 2px solid;
    margin-top: 5rem;
    margin-left: 25rem;
    background-image: url("https://t3.ftcdn.net/jpg/02/86/18/20/360_F_286182066_yY72dajL2Vv9pYZ0LWiDiYZrMEStz0Fo.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 800px 600px;
    border: 5px solid green;
  }

  .heading{
    width: 80%;
    height: auto;
    margin-top: 5rem;
    margin-left: 15rem;
  }
  
  .jokebox{
    min-width:20%;
    max-width: 100%;
    min-height: 30vh;
    max-height: 70vh;
    border: 1px solid black;
    background-color:lightgoldenrodyellow;
    margin-top: 2rem;
    margin-left: 10rem;
    border-radius: 10px;
  }

  .sub_heading{
    margin-left: 10rem;
  }

  .btnbox{
    position: absolute;
    right: 35rem;
    top: 56%;
    min-width:30%;
    max-width: 100%;
    min-height: 5vh;
    max-height: 80vh;
    margin-left: 35rem;
    display: flex;
     justify-content: space-around;
  }

  .btn{
    min-width:30%;
    max-width: 100%;
    min-height: 5vh;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .btn1{
    max-width: 100%;
    min-height: 2vh;
    max-height: 20vh;
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;
  }

  .loading{
    color: black;
    margin-left: 10rem;
    margin-top: 2.5rem;
  }
  
  .pagetxt{
    font-size:"50rem" ;
    font-family:"cursive"; 
    margin:auto ;
    margin-left:"0.5rem";
    justify-content:"center";
  }
  
  .btn :hover {
    background-color:lightblue ;
    color: chocolate;
  }